footer {
    background-color:#0c1a1e;
    min-height:350px;
}

@include block('footerleft') {
    margin-top:50px;
    padding:0 36px;
    p {
        color:#fff;
        margin-bottom:15px;
        i {
            width:20px;
            color:#999;
        }
    }
}

@include block('footer-title') {
    margin-bottom:10px;
    font-size:25px;
    color:#fff;
    font-weight:700;
}

.paddingtop-bottom {
    margin-top:50px;
}

@include block('footer-menu') {
    li {
        line-height:29px;
        font-size:12px;
        a {
            color:#a0a3a4;
            transition: color 0.2s linear 0s, background 0.2s linear 0s;
            &:hover {
                color:#ff670f;
                transition: color 0.2s linear 0s, background 0.2s linear 0s;
            }
        }
    }
}

@include block('copyright') {
    min-height:40px;
    background-color:#000000;
    p {
        text-align:left;
        color:#FFF;
        padding:10px 0;
        margin-bottom:0px;
    }
}

@include block('sub-footer-menu') {
    list-style-type:none;
    float:right;
    margin-bottom:0px;
    li {
        float:left;
        line-height:40px;
        &:after {
            content:"/";
            color:#FFF;
            margin-right:8px;
            margin-left:8px;
        }
        a {
            color:#FFF;
            font-size:12px;
        }
    }
}